{% extends 'base.html' %}

{% block content %}

<div class='container'>
  <hr>
  <form action='/result/' method='POST'> {% csrf_token %}
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter what you want to calculate or know about" aria-label="Input" aria-describedby="button-addon2" name="input">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Input</button>
      </div>
    </div>
  </form>
  <hr>
</div>

{% endblock content %}
